.idea
.idea/*
.vscode
.envrc
/dist
/dfusebox*
/dfuse
dashboard/client/.npmrc
.DS_Store
/bootstrapping/output.log
/dfuse.yaml
/dfuse-data
/dist
*SOURCE_ME.sh*
/dfuseeos
*dbin*
/proj*
/dashboard/client/node_modules
/dashboard/dashboard-build
/mindreader
/producer
