.idea
.idea/*
.vscode
.envrc
/dist
/dfusebox*
/dfuse
dashboard/client/.npmrc
.DS_Store
/bootstrapping/output.log
/dfuse.yaml
/dfuse-data
/eosq/app/eosq/rice-box.go
/dist
*SOURCE_ME.sh*
/dfuseeos
/producer
/mindreader
*dbin*
/proj*
