.idea
.idea/*
.vscode
.envrc
/dist
/dfusebox*
/dfuse
dashboard/client/.npmrc
.DS_Store
/bootstrapping/output.log
/dfuse.yaml
/dfuse-data
#rice-box.go temporarily disable this, ideally we would not commit the rice-box... but until we have a better solution
/dist
*SOURCE_ME.sh*
dfuseeos
/producer
/mindreader
