name: Docker Image CI

on:
  push:
    branches:
      - develop
  create:
    tags:
      - v*

jobs:
  build:
    name: Build and Push image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get branch name
        id: branch_name
        run: |
          echo ::set-output name=VERSION::$([[ $GITHUB_REF =~ "refs/tags" ]] && echo ${GITHUB_REF#refs/tags/} || echo "${GITHUB_SHA:0:7}")

      - name: Setup gcloud cli
        uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCR_KEY }}
          project_id: dfuse-302310
          export_default_credentials: true

      - name: Build Image
        run: |-
          docker build . -t eu.gcr.io/dfuse-302310/dfuse-eosio:latest -t eu.gcr.io/dfuse-302310/dfuse-eosio:${{ steps.branch_name.outputs.VERSION }}

      - name: Docker config
        run: |
          gcloud auth configure-docker -q

      # Push image to Google Container Registry
      - name: Push Image
        run: |-
          docker push eu.gcr.io/dfuse-302310/dfuse-eosio:${{ steps.branch_name.outputs.VERSION }}
          docker push eu.gcr.io/dfuse-302310/dfuse-eosio:latest
