name: Docker Image CI

on:
  # Only allows triggering through the Github Workflow UI
  workflow_dispatch:
    inputs:
      release:
        description: A release version tag
        required: true
      eosio:
        description: A tag for the eosio release
        required: true

jobs:
  build:
    name: Build and Push image
    runs-on: ubuntu-latest

    steps:
      - name: "Set ENV"
        run: |
          echo "RELEASE_VERSION=${{ github.event.inputs.release }}" >> $GITHUB_ENV
          echo "EOSIO_VERSION=${{ github.event.inputs.eosio }}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: "${{ env.RELEASE_VERSION }}"

      - name: Download EOSIO Debian package
        uses: Legion2/download-release-action@v2.1.0
        with:
          repository: ultraio/eosio
          tag: '${{ github.event.inputs.eosio }}'
          path: .
          file:  eosio-${{ env.EOSIO_VERSION }}.deb
          token: '${{ secrets.DEVOPS_SECRET }}'

      # Authorize google cloud service account
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCR_KEY }}'

      - name: Setup gcloud cli
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: dfuse-302310

      - name: Build Image
        run: |-
          docker build . -t eu.gcr.io/dfuse-302310/dfuse-eosio:${{ env.RELEASE_VERSION }} \
                --build-arg EOSIO_TAG=${{ env.EOSIO_VERSION }} \
                --build-arg DEB_PKG=eosio-${{ env.EOSIO_VERSION }}.deb \
                --build-arg VERSION=${{ env.RELEASE_VERSION }}

      # Push image to Google Container Registry
      - name: Push Image
        run: |-
          docker push eu.gcr.io/dfuse-302310/dfuse-eosio:${{ env.RELEASE_VERSION }}
