name: Docker Image CI

on:
  push:
    branches:
      - develop
  create:
    tags:
      - v*
      - test*

jobs:
  build:
    name: Build and Push image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download DM patch
        uses: Legion2/download-release-action@v2.1.0
        with:
          repository: ultraio/eosio
          tag: '2.0.9-1.25.0'
          path: .
          file:  eosio-2.0.9-1.25.0.deb
          token: '${{ secrets.DEVOPS_SECRET }}'

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCR_KEY }}'

      - name: Setup gcloud cli
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: dfuse-302310

      - name: Build Image
        run: |-
          docker build . -t eu.gcr.io/dfuse-302310/dfuse-eosio:latest -t eu.gcr.io/dfuse-302310/dfuse-eosio:${{  github.ref_name }}
      - name: Docker config
        run: |
          gcloud auth configure-docker -q
      # Push image to Google Container Registry
      - name: Push Image
        run: |-
          docker push eu.gcr.io/dfuse-302310/dfuse-eosio:${{ github.ref_name }}
          #docker push eu.gcr.io/dfuse-302310/dfuse-eosio:latest
