name: Build and Test

on: push
  
jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Check out code
        uses: actions/checkout@v1

      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run Unit tests.
        run: go test ./...

      - name: Build dfuseeos
        run: go build -o dfuseeos ./cmd/dfuseeos

      # This one might be a bit more complicated... Unsure how this will behave in Github's workflow environment. 
      # - name: Smoke Test
      #   working-directory: tests
      #   run: DEBUG=true E2E_TESTS=true go test

